node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.local/state/replit/agent/repl_state.bin
.gitignore
.local/state/replit/agent/rapid_build_started
.local/state/replit/agent/rapid_build_success
.local/
.vscode/
.idx/
.env